<div class="homepage-main-container">
  <div class="container-xl">
    <div class="row my-0">
      <div class="col-md-3 sticky">
        <ul class="list-group">
          <li class="list-group-item">An item</li>
          <li class="list-group-item">A second item</li>
          <li class="list-group-item">A third item</li>
          <li class="list-group-item">A fourth item</li>
          <li class="list-group-item">And a fifth one</li>
        </ul>
      </div>
      <div class="col-md-6 border-end border-start p-3">
        <div class="homepage-content-container">
          <app-post-card styleClass="mb-3"></app-post-card>
          <app-post-card styleClass="mb-3"></app-post-card>
          <app-post-card styleClass="mb-3"></app-post-card>
          <app-post-card styleClass="mb-3"></app-post-card>
          <app-post-card styleClass="mb-3"></app-post-card>
          <app-post-card styleClass="mb-3"></app-post-card>
          <app-post-card styleClass="mb-3"></app-post-card>
        </div>
      </div>
      <div class="col-md-3 sticky">
        <span *ngFor="let hashtag of hashtags" class="badge bg-primary m-1"
          >#{{ hashtag }}</span
        >
      </div>
    </div>
  </div>
</div>
