@import "src/styles/colors.scss";
@import "src/styles/breakpoints.scss";

.card-top {
  display: flex;
  justify-content: space-between;
  .card-profile {
    display: flex;
    align-items: start;
    flex-grow: 1;
    img {
      border-radius: 50%;
      max-width: 60px;
    }
    .profile-name {
      margin-left: 0.5rem;
      display: flex;
      align-items: center;
      span:last-child {
        font-size: 0.8rem;
        color: #555;
        margin-left: 0.5rem;
      }

      @media screen and (max-width: $md) {
        span:first-child {
          font-size: 0.8rem;
        }
        span:last-child {
          display: none;
        }
      }
    }
  }
}

.post-card-footer {
  .post-card-container {
    display: flex;
    align-items: center;

    i {
      color: $primary;
      cursor: pointer;
    }
    span {
      color: #777;
      font-size: 0.75rem;
      margin-left: 0.25rem;
      width: 15px;
    }
  }
}

.photo {
  display: inline-flex;
  background-color: $primary;
  width: 100%;
  aspect-ratio: 1/1;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-size: 1.5rem;
  text-transform: uppercase;
  max-width: 50px;
}
