<div *ngIf="post" [ngClass]="styleClass" class="card p-3">
  <div class="card-top">
    <div class="card-profile">
      <img
        class="img-fluid"
        [src]="post.createdUser.photo"
        alt=""
      />
      <!-- <span class="photo">{{ post.createdUser.name | slice : 0 : 1 }}</span> -->
      <div class="profile-name flex-grow">
        <span class="d-inline-flex">{{ post.createdUser.name }}</span>
        <!-- <span [innerText]="post.createdUser."></span> -->
      </div>
    </div>
    <div class="card-edit">
      <button class="btn p-0"><i class="bi bi-three-dots-vertical"></i></button>
    </div>
  </div>
  <div class="card-body px-0">
    <p class="card-text" highlightHashtag>
      {{ post.content }}
    </p>
  </div>

  <!-- <img
    src="https://oceanview4luz.files.wordpress.com/2013/01/sunset-for-front-room-i.jpg"
    class="card-img"
    alt="..."
  /> -->
  <div class="post-card-footer d-flex justify-content-between py-1">
    <button class="btn post-card-btn">
      <i class="bi bi-chat"></i>
      <span>{{ post.commentCount }}</span>
    </button>
    <button class="btn post-card-btn"><i class="bi bi-share"></i></button>
    <button class="btn post-card-btn">
      <i class="bi bi-suit-heart"></i>
      <span>{{ post.likedCount }}</span>
    </button>
  </div>
</div>
