<div [ngClass]="styleClass" class="card p-3">
  <div class="card-top">
    <div class="card-profile">
      <img
        class="img-fluid"
        src="https://avatars.githubusercontent.com/u/91590427?v=4"
        alt=""
      />
      <div class="profile-name">
        <span>Fatmanur Karabacak</span>
        <span [innerText]="'@fatmanurkarabacak'"></span>
      </div>
    </div>
    <div class="card-edit">
      <button class="btn p-0"><i class="bi bi-three-dots-vertical"></i></button>
    </div>
  </div>
  <div class="card-body px-0">
    <p class="card-text" highlightHashtag>
      Some quick example text to build on the card title and make up the bulk of
      the card's content. #category
    </p>
  </div>

  <img
    src="https://oceanview4luz.files.wordpress.com/2013/01/sunset-for-front-room-i.jpg"
    class="card-img"
    alt="..."
  />
  <div class="post-card-footer d-flex justify-content-between py-1">
    <button class="btn post-card-btn">
      <i class="bi bi-chat"></i>
      <span>11</span>
    </button>
    <button class="btn post-card-btn"><i class="bi bi-share"></i></button>
    <button class="btn post-card-btn">
      <i class="bi bi-suit-heart"></i>
      <span>11</span>
    </button>
  </div>
</div>
