<ul>
  <li>
    <button routerLink="" routerLinkActive="active">
      <i class="fa-solid fa-house"></i>
      <span>Home</span>
    </button>
  </li>
  <li>
    <button routerLink="/profile">
      <i class="fa-solid fa-user"></i> <span>Profilim</span>
    </button>
  </li>
  <li>
    <button routerLink="/profile">
      <i class="fa-solid fa-heart"></i> <span> Regl Takvimi </span>
    </button>
  </li>
  <li>
    <button routerLink="/profile">
      <i class="fa-solid fa-moon"></i> <span> Ay Takvimi </span>
    </button>
  </li>
  <li>
    <button routerLink="/profile">
      <i class="fa-solid fa-question"></i>
      <span> Birşeyler Sor </span>
    </button>
  </li>
  <li>
    <button routerLink="/profile">
      <i class="fa-solid fa-child-reaching"></i>
      <span>Hakkımızda</span>
    </button>
  </li>
</ul>
