<div class="main-container">
  <div class="container-fluid">
    <div class="row">
      <div
        class="col-12 min-vh-100 d-inline-flex align-items-center justify-content-center"
      >
        <div class="card rounded shadow-lg main-container-card">
          <div class="p-field p-col-12 p-md-4">
            <div
              class="p-2 d-flex flex-xl-row flex-column align-items-xl-center justify-content-between"
            >
              <div class="d-flex align-items-center">
                <div>
                  <button routerLink="/" class="btn btn-primary text-white">
                    <i class="bi bi-arrow-left-circle-fill me-1"></i>
                    Geri Dön
                  </button>
                </div>
                <img
                  class="ms-2"
                  height="60"
                  src="../../assets/photos/logo.png"
                  alt=""
                />
              </div>
              <div
                class="d-flex align-items-center justify-content-center mt-xl-0 mt-2"
              >
                <h4 class="m-0 me-2">{{ today | date : "longDate" }}</h4>
                <p-calendar
                  [(ngModel)]="today"
                  (ngModelChange)="dateChanged()"
                  [showIcon]="true"
                  inputId="icon"
                ></p-calendar>
              </div>
            </div>
          </div>

          <div class="d-flex container-fluid flex-grow-1">
            <div class="row justify-content-center flex-grow-1">
              <div
                class="col-lg-4 col-md-6 col-12 p-3"
                *ngFor="let day of days; let i = index"
              >
                <app-info-card [date]="day"></app-info-card>
              </div>
            </div>
          </div>

          <div class="d-flex justify-content-center my-2">
            <button
              type="button"
              class="btn btn-sm btn-outline-dark mx-1"
              (click)="dateChanged(true)"
            >
              <i class="bi bi-chevron-double-left"></i>
            </button>
            <button
              type="button"
              class="btn btn-sm btn-outline-dark mx-1"
              (click)="dateChanged(false)"
            >
              <i class="bi bi-chevron-double-right"></i>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
