body {
     background-color: #E9BFB3;
}
*{
     background-color: #E9BFB3 !important;
}


/* categories css */
ul {
     display: flex;
     flex-direction: column;
     align-items: start;
     list-style-type: none;
   
     li {
       padding: 6px 0;
   
       a {
         position: relative;
         display: block;
         padding: 4px 0;
         font-family: Lato, sans-serif;
         color: rgb(0 0 0 / 90%);
         text-decoration: none;
         /* text-transform: uppercase; */
         transition: 0.5s;
   
         &::after {
           position: absolute;
           content: "";
           top: 100%;
           left: 0;
           width: 100%;
           height: 3px;
           background: #cb684d;
           transform: scaleX(0);
           transform-origin: right;
           transition: transform 0.5s;
         }
   
         &:hover {
           color: #cb684d;
         }
   
         &:hover::after {
           transform: scaleX(1);
           transform-origin: left;
         }
       }
     }
   }
   
      