<nav class="navbar bg-light border-bottom fixed-top">
  <div class="container-fluid">
    <div class="container d-flex justify-content-between align-items-center">
      <a class="navbar-brand d-flex align-items-center" routerLink="">
        <span class="fw-bolder">KADINHEPP</span>
        <img
          class="ms-2"
          height="50"
          src="../../assets/photos/logo.png"
          alt=""
        />
      </a>
      <div>
        <button class="btn btn-outline-primary change-lacation-btn">
          <span>Alanya</span>
          <i class="fa-solid fa-location-dot ms-2"></i>
        </button>
      </div>
    </div>
  </div>
</nav>
