@import "src/styles/breakpoints.scss";

.auth-container {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  // background-image: url('../../../../../assets/photos/love-arkaplan.png');
  // background-size: cover;
  // background-position: center; 
  // background-repeat: no-repeat;

  .card {
    border-radius: 24px;
    width: 50%;

    @media screen and (max-width: $xxl) {
      width: 40%;
    }

    @media screen and (max-width: $lg) {
      width: 60%;
    }

    @media screen and (max-width: $md) {
      width: 85%;
    }
  }
}

.my-bg{
  background-size: contain;
  background-position: center; 
   background-image: url('../../../../../assets/photos/love-arkaplan.png');
  background-repeat: repeat-y;
  // background-position-x: top;


}
