<link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"
  integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA=="
  crossorigin="anonymous"
  referrerpolicy="no-referrer"
/>

<!-- Giriş about us resmi -->
<div class="header">
  <div class="h1 text-center">HAKKIMIZDA</div>
</div>

<!-- Pembe kareli kısmın html i -->
<div class="responsive-container-block bigContainer">
  <div class="responsive-container-block Container bottomContainer">
    <div class="allText bottomText">
      <p class="text-blk headingText">Biz Kimiz</p>
      <p class="text-blk subHeadingText">Kadınlar İçin Yeni Bir Paylaşım Ağı</p>
      <p class="text-blk description">
        Güzellik merkezlerinden, kuaförlerden ve hayatın her alanından
        paylaşılacak bir deneyim dünyası yaratıyoruz! Kadınların kişisel sağlık
        ve refahlarına odaklanan bir web sitesi geliştiriyoruz ve adıyla çığır
        açıyoruz. Bu platform, sadece güzellik hizmetlerini değil, aynı zamanda
        kadınların yaşamlarında önemli olan her şeyi kapsıyor.
      </p>
      <a>
        <button (click)="goSection()" class="explore">Devamını Gör</button>
      </a>
    </div>
    <div class="videoContainer">
      <img
        allowfullscreen="allowfullscreen"
        class="mainVideo"
        controls="controls"
        src="../../../../../assets/photos/woman.png"
      />

      <img
        class="dotsImg image-block"
        src="https://workik-widget-assets.s3.amazonaws.com/widget-assets/images/cw3.svg"
      />
    </div>
  </div>
</div>

<!-- İkinci kısım  -->
<div id="section2" class="responsive-container-block bigContainer background2">
  <div class="responsive-container-block Container bottomContainer">
    <div class="videoContainer">
      <img
        allowfullscreen="allowfullscreen"
        class="mainVideo"
        controls="controls"
        src="../../../../../assets/photos/women2-yenilenen.png"
      />

      <img
        class="dotsImg image-block"
        src="https://workik-widget-assets.s3.amazonaws.com/widget-assets/images/cw3.svg"
      />
    </div>
    <div class="allText bottomText mx-4">
      <!-- <p class="text-blk headingText">Biz Kimiz</p> -->
      <p class="text-blk subHeadingText">
        Kadınların Güzelliğini ve İyiliğini Paylaştıkları Harika Bir Dünya!
      </p>
      <p class="text-blk description">
        Burada, kadınlar bir araya gelip deneyimlerini paylaşacak, birbirlerine
        destek olacak ve güzelliklerini ve yaşam hikayelerini kutlayacaklar.
        Bilgi paylaşımının ötesine geçip bir topluluk oluşturuyoruz. Bu platform
        sadece bir web sitesinden çok daha fazlası - bu, kadınlar arasında bir
        dayanışma ve yardımlaşma ağıdır! Haydi, bu muhteşem yolculuğa katılın ve
        güzellikleri birlikte keşfedelim!
      </p>
      <!-- <a>
        <button class="explore">Devamını Gör</button>
      </a> -->
    </div>
  </div>
</div>

<!-- takımımız kızmı -->
<section class="team">
  <div class="center">
    <h1>Takımımız</h1>
  </div>

  <div class="team-content">
    <div class="box">
      <img src="../../../../../assets/photos/fatmanur-pinterest.jpg" />
      <h3>Fatmanur Karabacak</h3>
      <!-- <h5>Artist</h5> -->
      <div class="icons">
        <a href="#"><i class="ri-twitter-fill"></i></a>
        <a href="#"><i class="ri-facebook-box-fill"></i></a>
        <a href="#"><i class="ri-instagram-fill"></i></a>
      </div>
    </div>

    <div class="box">
      <img src="../../../../../assets/photos/muhtedalle.jpg" />
      <h3>Muhteber Aydın</h3>
      <!-- <h5>Artist</h5> -->
      <div class="icons">
        <a href="#"><i class="ri-twitter-fill"></i></a>
        <a href="#"><i class="ri-facebook-box-fill"></i></a>
        <a href="#"><i class="ri-instagram-fill"></i></a>
      </div>
    </div>

    <div class="box">
      <img src="../../../../../assets/photos/zeynep-dalle.png" />
      <h3>Zeynep Vural</h3>
      <!-- <h5>Artist</h5> -->
      <div class="icons">
        <a href="#"><i class="ri-twitter-fill"></i></a>
        <a href="#"><i class="ri-facebook-box-fill"></i></a>
        <a href="#"><i class="ri-instagram-fill"></i></a>
      </div>
    </div>
  </div>
</section>

<!-- footer -->
<div class="footer">
  <div class="row p-4">
    <div class="col-sm-6 m-">
      <h2>KADINHEPP</h2>
      <p>&copy; Copyright 2024 All rights reserved.</p>
    </div>
    <div class="col-sm-6">
      <ul class="social-icons mt-3">
        <li>
          <a href="" class="social-icon">
            <i class="fa-brands fa-facebook"></i>
          </a>
        </li>
        <li>
          <a href="" class="social-icon">
            <i class="fa-brands fa-instagram"></i>
          </a>
        </li>
        <li>
          <a href="" class="social-icon">
            <i class="fa-brands fa-twitter"></i>
          </a>
        </li>
      </ul>
    </div>
  </div>
</div>
