<div
  *ngIf="user$ | async as user"
  class="create-post-container"
  [class.border-bottom-primary]="!updateMode"
  [ngClass]="styleClass"
>
  <div class="row">
    <div class="col-sm-2 col-3">
      <img class="img-fluid photo-rounded" [src]="user.user.photo" alt="" />
    </div>
    <div class="col-sm-10 col-9">
      <form [formGroup]="postForm" (ngSubmit)="submit()">
        <div>
          <div class="post">
            <textarea
              (keyup)="autoGrowTextZone($event)"
              class="w-100"
              rows="3"
              placeholder="Neler oluyor?"
              formControlName="content"
            ></textarea>
          </div>
          <ng-template
            [ngTemplateOutlet]="postBottomCont"
            [ngTemplateOutletContext]="{ isMobile: false }"
          >
          </ng-template>
        </div>
        <ng-template
          [ngTemplateOutlet]="postBottomCont"
          [ngTemplateOutletContext]="{ isMobile: true }"
        >
        </ng-template>
      </form>

      <div class="row mt-3 create-post-images">
        <div *ngFor="let img of images" class="col">
          <div class="img-container border rounded h-100">
            <img
              style="height: 100%; object-fit: cover; max-height: 300px"
              class="img-fluid rounded"
              [src]="img"
              alt=""
            />
            <i
              (click)="deleteFile(img)"
              class="text-danger bi bi-x-circle-fill"
            ></i>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<ng-template #postBottomCont let-isMobile="isMobile">
  <div
    [ngClass]="isMobile ? 'd-sm-none d-flex' : 'd-sm-flex d-none'"
    class="post-bottom justify-content-between"
  >
    <div class="inputs">
      <div class="d-inline-block">
        <ng-container *ngIf="!updateMode; else updateFileUpload">
          <label
            style="cursor: pointer"
            for="file-upload"
            class="custom-file-upload"
            [ngClass]="{ 'pe-none opacity-02': images.length >= 2 }"
          >
            <i class="bi bi-card-image"></i>
          </label>
          <input
            type="file"
            id="file-upload"
            (change)="onFileSelected($event)"
            name="image"
            autocomplete="off"
        /></ng-container>
      </div>
      <i
        style="cursor: pointer"
        class="bi bi-geo-alt-fill ms-2"
        (click)="selectLocation()"
      ></i>
      <p-cascadeSelect
        placeholder="Kategori Seç"
        [(ngModel)]="selectedCategory"
        [options]="categories"
        optionLabel="cname"
        optionGroupLabel="name"
        [optionGroupChildren]="['subCategories']"
        styleClass="ms-2"
      ></p-cascadeSelect>
    </div>
    <button
      [disabled]="postForm.invalid || !selectedCategory || !selectedLocation"
      type="submit"
      class="btn btn-primary text-white"
    >
      {{ updateMode ? "Güncelle" : "Paylaş" }}
    </button>
  </div>
  <div
    *ngIf="selectedLocation"
    class="border-top mt-2 pt-2"
    [ngClass]="isMobile ? 'd-sm-none d-flex' : 'd-sm-flex d-none'"
  >
    <span
      style="font-size: 0.8rem"
      class="badge text-bg-secondary text-white p-3"
    >
      <span *ngIf="!selectedLocation?.ilce?.value">{{
        selectedLocation.il.name
      }}</span>
      <span
        *ngIf="
          selectedLocation?.ilce?.value && !selectedLocation?.mahalle?.value
        "
        >{{ selectedLocation.ilce.value.name }}</span
      >
      <span *ngIf="selectedLocation?.mahalle?.value">{{
        selectedLocation.mahalle.value.name
      }}</span>

      <i class="bi bi-geo-fill ms-2"></i>
    </span>
  </div>
</ng-template>

<ng-template #updateFileUpload>
  <label
    style="cursor: pointer"
    for="file-upload-update"
    class="custom-file-upload"
    [ngClass]="{ 'pe-none opacity-02': images.length >= 2 }"
  >
    <i class="bi bi-card-image"></i>
  </label>
  <input
    type="file"
    id="file-upload-update"
    (change)="onFileSelected($event)"
    name="image"
    autocomplete="off"
  />
</ng-template>
