@import "src/styles/colors.scss";

.create-post-container {
  padding-bottom: 1rem;

  &.border-bottom-primary {
    border-bottom: 1px solid $primary;
  }

  .photo-rounded {
    border-radius: 50%;
  }

  .photo {
    display: inline-flex;
    background-color: $primary;
    width: 100%;
    aspect-ratio: 1/1;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-size: 1.5rem;
    text-transform: uppercase;
  }

  .post {
    textarea {
      padding: 0.5rem;
      border: none;
      resize: none;

      &:focus-visible {
        outline: none;
      }
    }
  }

  .post-bottom {
    .inputs {
      padding: 0 0.5rem;
      button {
        &:active {
          border-color: transparent;
        }
      }
      i {
        color: $primary;
      }
    }
  }
}

input[type="file"] {
  display: none;
}

.opacity-02 {
  opacity: 0.3;
}

.create-post-images {
  .img-container {
    display: inline-block;
    position: relative;

    i {
      position: absolute;
      right: 0;
      top: 0;
      transform: translate(25%, -25%);
      scale: 1.5;
      cursor: pointer;
    }
  }
}
