@import "src/styles/colors.scss";

.create-post-container {
  padding-bottom: 1rem;
  border-bottom: 1px solid $primary;

  .photo-rounded {
    border-radius: 50%;
  }
  
  .photo{
    display: inline-flex;
    background-color: $primary;
    width: 100%;
    aspect-ratio: 1/1;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-size: 1.5rem;
    text-transform: uppercase;
  }

  .post {
    textarea {
      padding: 0.5rem;
      border: none;
      resize: none;

      &:focus-visible {
        outline: none;
      }
    }
  }

  .post-bottom {
    .inputs {
      button {
        &:active {
            border-color: transparent;
        }
      }
      i {
        color: $primary;
      }
    }
  }
}
