<div
  *ngIf="user$ | async as user"
  class="create-post-container"
  [ngClass]="styleClass"
>
  <div class="row">
    <div class="col-sm-2 col-3">
      <img class="img-fluid photo-rounded" [src]="user.user.photo" alt="" />
    </div>
    <form [formGroup]="postForm" (ngSubmit)="submit()" class="col-sm-10 col-9">
      <div>
        <div class="post">
          <textarea
            (keyup)="autoGrowTextZone($event)"
            class="w-100"
            rows="3"
            placeholder="Neler oluyor?"
            formControlName="content"
          ></textarea>
        </div>
        <ng-template
          [ngTemplateOutlet]="postBottomCont"
          [ngTemplateOutletContext]="{ isMobile: false }"
        >
        </ng-template>
      </div>
      <ng-template
        [ngTemplateOutlet]="postBottomCont"
        [ngTemplateOutletContext]="{ isMobile: true }"
      >
      </ng-template>
    </form>
  </div>
</div>

<ng-template #postBottomCont let-isMobile="isMobile">
  <div
    [ngClass]="isMobile ? 'd-sm-none d-flex' : 'd-sm-flex d-none'"
    class="post-bottom justify-content-between"
  >
    <div class="inputs">
      <button class="btn"><i class="bi bi-card-image"></i></button>
      <button class="btn"><i class="bi bi-geo-alt"></i></button>
    </div>
    <button type="submit" class="btn btn-primary text-white">
      {{ updateMode ? "Edit" : "Create" }}
    </button>
  </div>
</ng-template>
